body{
  height: 1000px;
}
.navbar-brand img{
  width: 100px;
}
.navbar {

  background-image: url("../imgs/menu-bg.png");
  z-index: 2;
}
.nav-link,
.navbar-nav .nav-link.active {
  color: white;
  transition: color 0.8s;
}
.nav-link:hover,
.navbar-nav .nav-link.active:hover{
  color:#00C0FF
}
.scrolled{

  background: #040836;
  position: sticky;
  top:0;
  animation: navbar_animation 0.5s;
}
@keyframes navbar_animation {
  0%{
    transform: translate3d(0,-100%,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}

/* header */
.header{
  
  background-image: url("../imgs/slider-bg.png");
  background-size: cover;
}
.welcome{
  color: #00C0FF;
  position: relative;
  padding-left: 60px;
  
}
.welcome::before{
  content: "";
  background-color: #00C0FF;
  height: 1px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 58%;
  
}
#my-name::after,
#my-job::after{
  content: '|';
  width: 5px;
  color: white;
}
.social-accounts-details button{
  background-color: #040837;
  color: #00C0FF;
  border: none;
}
.social{
  color: white;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #040837;
  border: 1px solid transparent;
  transition: background-color 0.5s ease-out;
}
.social:hover{
  cursor: pointer;
  background-color: #00C0FF;
}
